@page
@using CSP_NET.Work.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using CTIN.Abp.AspNetCore.Mvc.UI.Layout
@using CSP_NET.Work.Web.Pages.DepartmentTeams.DepartmentTeam
@using CSP_NET.Work.Localization
@using CSP_NET.Work.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<WorkResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["DepartmentTeam"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:DepartmentTeam"].Value);
    PageLayout.Content.MenuItemName = WorkMenus.DepartmentTeam;
}

@section scripts
{
    <abp-script src="/Pages/DepartmentTeams/DepartmentTeam/index.js" />
}
@section styles
{
    <abp-style src="/Pages/DepartmentTeams/DepartmentTeam/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["DepartmentTeam"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(WorkPermissions.DepartmentTeam.Create))
                {
                <abp-button id="NewDepartmentTeamButton"
                            text="@L["CreateDepartmentTeam"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="DepartmentTeamCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="DepartmentTeamFilter" id="DepartmentTeamFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="DepartmentTeamCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="DepartmentTeamTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
