<div class="card">
  <p-table [value]="states" styleClass="p-datatable-striped" dataKey="code"
    [(selection)]="selectedProjectState"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap gap-3">
          <p-button label="{{ 'Work::Pm:ProjectState.New' | abpLocalization }}" icon="pi pi-plus" styleClass="p-button-sm" (click)="showModal()" ></p-button>

          <p-button label="{{ 'Work::Delete' | abpLocalization }}" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"
          [disabled]="!selectedProjectState || !selectedProjectState.length" (click)="deleteSelectedProducts()"></p-button>

          <ng-container [ngTemplateOutlet]="searchInput" *ngIf="mediumSide"></ng-container>

          <ng-template #searchInput>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" [(ngModel)]="keyword" (keyup.enter)="getProjectStates()" placeholder="{{'Work::Search' | abpLocalization}}" />
            </span>
          </ng-template>

          <ng-container *ngIf="!mediumSide">
            <div [class]="smallSide ? 'ml-auto' : ''">
              <p-button icon="pi pi-search" styleClass="p-button-sm p-button-secondary p-button-outlined"
              (click)="op.toggle($event)" pTooltip="{{'Work::Filter' | abpLocalization}}"></p-button>
            </div>
            <p-overlayPanel #op>

                <div class="p-fluid grid w-25rem pt-2">

                  <div class="p-field col-12" *ngIf="smallSide">
                    <ng-container [ngTemplateOutlet]="searchInput"></ng-container>
                  </div>

                  <!-- <div class="p-field col-12">
                    <span class="p-float-label">
                      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a state"></p-dropdown>
                      <label>{{'Work::Pm:ProjectState' | abpLocalization}}</label>
                    </span>
                  </div> -->

                </div>


            </p-overlayPanel>
          </ng-container>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th>{{'Work::Pm:ProjectState.Code' | abpLocalization}}</th>
            <th style="min-width: 180px;">{{'Work::Pm:ProjectState.Name' | abpLocalization}}</th>
            <!-- <th>{{'Work::Pm:ProjectState.Status' | abpLocalization}}</th> -->
            <th style="min-width: 50px;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-state>
        <tr>
            <td><p-tableCheckbox [value]="state"></p-tableCheckbox></td>
            <td>{{ state.code }}</td>
            <td style="min-width: 180px;">{{ state.name }}</td>
            <!-- <td><p-checkbox name="group" disa [value]="state" [(ngModel)]="selectedState" [inputId]="state.code" [disabled]="true"></p-checkbox></td> -->
            <td style="min-width: 50px;">
              <cs-tieredMenu (buttonItem)="dropdownItemsButton(state)" [items]="actionItems"></cs-tieredMenu>
              <!-- <span class="p-buttonset">
                <button pButton pRipple class="p-button-sm p-button-text" icon="pi pi-eye" pTooltip="{{'Work::View' | abpLocalization}}"></button>
                <button pButton pRipple class="p-button-sm p-button-text" icon="pi pi-pencil" pTooltip="{{'Work::Edit' | abpLocalization}}" (click)="showModal(state)"></button>
                <button pButton pRipple class="p-button-sm p-button-text" icon="pi pi-trash" pTooltip="{{'Work::Delete' | abpLocalization}}" (click)="confirmDelete(state)"></button>
              </span> -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-paginator
        [rows]="maxResultCount"
        [totalRecords]="totalCount"
        [showCurrentPageReport]="true"
        [showJumpToPageInput]="true"
        (onPageChange)="onPageChange($event)"
        currentPageReportTemplate="{totalRecords} {{ 'AbpIdentity::Records' | abpLocalization }}"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
      ></p-paginator>
    </ng-template>
  </p-table>
</div>

<ng-container *ngIf="displayProjectState">
  <app-crud-projectState
    [displayProjectState]="displayProjectState"
    [projectStateData]="projectStateData"
    (closeProjectState)="closeProjectState($event)"
  ></app-crud-projectState>
</ng-container>

