::ng-deep .p-checkbox .p-checkbox-box {
  border-radius: 6px;
}

.cs-input{
  border: none;
  border-bottom: 1px solid #ddd;
  &:focus-visible {
    outline: none ;
}
}

._menu{
  right: 60px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background: #e9ecef;
    color: #343a40;
  }
}

:host ::ng-deep .p-inputnumber-input{
  width: 70px;
}
