@page
@using CSP_NET.Work.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using CTIN.Abp.AspNetCore.Mvc.UI.Layout
@using CSP_NET.Work.Web.Pages.ProjectState.ProjectState
@using CSP_NET.Work.Localization
@using CSP_NET.Work.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<WorkResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["ProjectState"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:ProjectState"].Value);
    PageLayout.Content.MenuItemName = WorkMenus.ProjectState;
}

@section scripts
{
    <abp-script src="/Pages/ProjectState/ProjectState/index.js" />
}
@section styles
{
    <abp-style src="/Pages/ProjectState/ProjectState/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["ProjectState"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(WorkPermissions.ProjectState.Create))
                {
                <abp-button id="NewProjectStateButton"
                            text="@L["CreateProjectState"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="ProjectStateCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="ProjectStateFilter" id="ProjectStateFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="ProjectStateCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="ProjectStateTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
